{
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow",
      "endOfLine": "auto" ,
      "usePrettierrc": false,
      "fileInfoOptions": {
        "withNodeModules": false}
    }
  ]
}